.assignment-container {
	grid-area: m;
	width: 100%;
	& span {
		color: rgba(248, 255, 219, 1);
	}
}
.assignment {
	width: 95%;
	margin: auto;
	& .assignment-header {
		text-align: center;
		font-size: 22px;
		font-weight: 500;
		padding: 40px;
	}
}
.student-switches {
	border-right: 1px solid rgba(34, 50, 67, 0.44);
	border-left: 1px solid rgba(34, 50, 67, 0.44);
	border-bottom: 1px solid rgba(34, 50, 67, 0.44);
	border-radius: 3px;
	& ul {
		margin: 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		grid-auto-rows: 20px;
		padding: 5px;
		list-style: none;
		li label {
			cursor: pointer;
		}
	}
	& .banner {
		border-radius: 3px 3px 0 0;
		background-color: rgba(34, 50, 67, 0.372);
		color: rgb(34, 50, 67);
		padding: 3px;
	}
}

@media (min-width: 1028px) {
	.assignment-container {
		overflow-y: scroll;
	}
	.assignment {
		max-width: 1400px;
		margin: auto;
	}
	.assignment-container .chart {
		margin-top: 75px;
	}
	.assignment-header span {
		font-size: 30px;
	}
}
