.average {
	grid-area: m;
	width: 100%;
	font-size: 16px;

	& span {
		color: rgba(248, 255, 219, 1);
	}
	& .average-container {
		width: 95%;
		margin: auto;
		& .average-header {
			text-align: center;
			font-size: 22px;
			font-weight: 500;
			padding: 40px;
		}
		& .student-switches {
			border-right: 1px solid rgba(34, 50, 67, 0.44);
			border-left: 1px solid rgba(34, 50, 67, 0.44);
			border-bottom: 1px solid rgba(34, 50, 67, 0.44);
			border-radius: 3px;
			& .banner {
				border-radius: 3px 3px 0 0;
				background-color: rgba(34, 50, 67, 0.372);
				color: rgb(34, 50, 67);
				padding: 3px;
			}
		}

		& .assignment-options {
			margin-top: 20px;
			border-radius: 3px;
			border-right: 1px solid rgba(34, 50, 67, 0.44);
			border-left: 1px solid rgba(34, 50, 67, 0.44);
			border-bottom: 1px solid rgba(34, 50, 67, 0.44);
			& .assignment-banner {
				border-radius: 3px 3px 0 0;
				background-color: rgba(34, 50, 67, 0.372);
				color: rgb(34, 50, 67);
				padding: 3px;
			}
			& select {
				width: 100%;
				border: 1px solid rgba(248, 255, 219, 1);
				border-radius: 0 0 3px 3px;
				padding: 3px;
				outline: none;
				font-size: 14px;
				cursor: pointer;
				& option {
					color: rgb(34, 50, 67);
					font-family: "Trebuchet MS", "Lucida Sans Unicode",
						"Lucida Grande", "Lucida Sans", Arial, sans-serif,
						sans-serif;
				}
			}
		}
	}
}
@media (min-width: 1028px) {
	.average {
		overflow-y: scroll;
	}
	.stylewrapper {
		max-width: 1350px;
		margin: auto;
	}
	.average-header span {
		font-size: 25px;
	}
}
