.nav-container {
	font-size: 18px;
	a {
		color: rgb(34, 50, 67);
	}
	.students-overview-average {
		display: flex;
		justify-content: center;
		ul {
			list-style: none;
		}
	}
	.student {
		width: 100%;
		display: flex;
		justify-content: space-between;
		ul {
			list-style: none;
		}
	}
	.assignments {
		width: 100%;
		display: flex;
		justify-content: space-between;
		ul {
			list-style: none;
		}
	}
}
::-webkit-scrollbar {
	width: 3px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(13deg, #737b7e 14%, #bfe7dc 65%);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
}
::-webkit-scrollbar-track {
	background: #ffffff;
	border-radius: 10px;
	box-shadow: inset 7px 10px 12px #f0f0f0;
}

nav {
	grid-area: n;
	background-color: rgba(34, 50, 67, 0.295);
}

.is-active {
	background-color: salmon;
}
