nav {
	grid-area: n;
	background-color: rgba(34, 50, 67, 0.295);
	width: 100%;
	& .nav-container {
		width: 100%;
		padding-top: 20px;
		padding-bottom: 40px;
		.students-overview-average {
			width: 95%;
			margin: auto;
		}
	}
	& #dropdown-basic-button {
		width: 100%;
		margin-bottom: 5px;
		background-color: rgba(34, 50, 67, 0.672);
		color: rgba(248, 255, 219, 1);
		border: 1px solid rgb(34, 50, 67);
		box-shadow: none;
		outline: none;
	}
	& .nav-item {
		width: 100%;
	}
	& .dropdown-menu.show {
		max-height: 350px;
		overflow-y: scroll;
	}
}

@media (min-width: 1028px) {
	.nav-container-desktop {
		padding: 20px;
		height: 100%;
		& .nav-item {
			color: rgb(34, 50, 67);
		}
		& .nav-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		& .nav-group {
			padding-top: 10px;
			padding-left: 10px;
			width: 100%;
			& .nav-assignments {
				margin-right: 10px;
				overflow-y: scroll;
				max-height: 400px;
			}
			& .icon-wrapper {
				display: flex;

				& .iconChart {
					font-size: 30px;
					margin-right: 10px;
				}
			}
			& h3 {
				text-decoration: underline;
			}
			& ul {
				list-style: none;
				& li {
					padding-left: 40px;
					cursor: pointer;
					&:hover {
						width: 100%;
						background-color: rgb(34, 50, 67);
						color: rgba(248, 255, 219, 1);
						border-radius: 3px;
					}
					&:hover > a {
						color: rgba(248, 255, 219, 1);
						text-decoration: none;
					}
				}
			}
			& .is-active {
				color: rgba(248, 255, 219, 1);
				letter-spacing: 2px;
				font-weight: 900;
				font-size: 20px;
				padding: -15px;
			}
		}
	}
}
