.student {
	grid-area: m;
	width: 100%;
	& .student-container {
		width: 95%;
		margin: auto;

		& .student-header {
			text-align: center;
			font-size: 22px;
			font-weight: 500;
			padding: 40px;
			& span {
				color: rgba(248, 255, 219, 1);
			}
		}
		& .filter-ul {
			list-style: none;
			margin: 0;
			padding: 10px;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
			grid-auto-rows: 20px;
			& li {
				color: rgb(34, 50, 67);
				& label {
					cursor: pointer;
				}
			}
		}
	}
	& .banner {
		border-radius: 3px 3px 0 0;
		background-color: rgba(34, 50, 67, 0.372);
		color: rgb(34, 50, 67);
		padding: 5px;
		margin: 0;
		& span {
			color: rgba(248, 255, 219, 1);
		}
	}
	& .banner-lines {
		border-right: 1px solid rgba(34, 50, 67, 0.44);
		border-left: 1px solid rgba(34, 50, 67, 0.44);
		border-bottom: 1px solid rgba(34, 50, 67, 0.44);
		border-radius: 3px;
		font-size: 18px;
		& .switch-inv {
			label {
				cursor: pointer;
			}
		}
	}
	& .filter-switch {
		padding: 5px;
		font-size: 18px;
	}
}

@media (min-width: 1028px) {
	.student {
		overflow-y: scroll;
	}
	.student-container {
		max-width: 1300px;
		margin: auto;
	}
	.student .chart {
		margin-top: -20px;
		max-width: 1500px;
	}
	.student-header span {
		font-size: 30px;
	}
}
