@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
.assignment-container {
  grid-area: m;
  width: 100%;
}
.assignment-container span {
  color: #f8ffdb;
}

.assignment {
  width: 95%;
  margin: auto;
}
.assignment .assignment-header {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  padding: 40px;
}

.student-switches {
  border-right: 1px solid rgba(34, 50, 67, 0.44);
  border-left: 1px solid rgba(34, 50, 67, 0.44);
  border-bottom: 1px solid rgba(34, 50, 67, 0.44);
  border-radius: 3px;
}
.student-switches ul {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 20px;
  padding: 5px;
  list-style: none;
}
.student-switches ul li label {
  cursor: pointer;
}
.student-switches .banner {
  border-radius: 3px 3px 0 0;
  background-color: rgba(34, 50, 67, 0.372);
  color: #223243;
  padding: 3px;
}

@media (min-width: 1028px) {
  .assignment-container {
    overflow-y: scroll;
  }

  .assignment {
    max-width: 1400px;
    margin: auto;
  }

  .assignment-container .chart {
    margin-top: 75px;
  }

  .assignment-header span {
    font-size: 30px;
  }
}
.average {
  grid-area: m;
  width: 100%;
  font-size: 16px;
}
.average span {
  color: #f8ffdb;
}
.average .average-container {
  width: 95%;
  margin: auto;
}
.average .average-container .average-header {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  padding: 40px;
}
.average .average-container .student-switches {
  border-right: 1px solid rgba(34, 50, 67, 0.44);
  border-left: 1px solid rgba(34, 50, 67, 0.44);
  border-bottom: 1px solid rgba(34, 50, 67, 0.44);
  border-radius: 3px;
}
.average .average-container .student-switches .banner {
  border-radius: 3px 3px 0 0;
  background-color: rgba(34, 50, 67, 0.372);
  color: #223243;
  padding: 3px;
}
.average .average-container .assignment-options {
  margin-top: 20px;
  border-radius: 3px;
  border-right: 1px solid rgba(34, 50, 67, 0.44);
  border-left: 1px solid rgba(34, 50, 67, 0.44);
  border-bottom: 1px solid rgba(34, 50, 67, 0.44);
}
.average .average-container .assignment-options .assignment-banner {
  border-radius: 3px 3px 0 0;
  background-color: rgba(34, 50, 67, 0.372);
  color: #223243;
  padding: 3px;
}
.average .average-container .assignment-options select {
  width: 100%;
  border: 1px solid #f8ffdb;
  border-radius: 0 0 3px 3px;
  padding: 3px;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}
.average .average-container .assignment-options select option {
  color: #223243;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, sans-serif;
}

@media (min-width: 1028px) {
  .average {
    overflow-y: scroll;
  }

  .stylewrapper {
    max-width: 1350px;
    margin: auto;
  }

  .average-header span {
    font-size: 25px;
  }
}
@media (min-width: 1028px) {
  .chart {
    margin: auto;
    max-width: 1700px;
    cursor: pointer;
  }
}
.footer {
  grid-area: f;
  width: 100%;
  margin: auto;
  background-color: rgba(34, 50, 67, 0.295);
}
.footer .footer-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-container a {
  width: 33.3vw;
  color: #223243;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 20px;
}
.footer .footer-container a p {
  margin-top: 20px;
}
.footer .footer-container a .footer-icon {
  margin-right: 5px;
}
.footer .footer-container a:visited {
  color: #223243;
}
.footer .footer-container a:hover {
  -webkit-transition: 350ms;
  transition: 350ms;
  background-color: #223243;
  color: #f8ffdb;
}
.footer .naw {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .naw .footer-icon {
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 4px;
  color: #f8ffdb;
}

@media (min-width: 1028px) {
  .footer {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-container {
    width: 100%;
  }
  .footer .footer-container a {
    width: 100%;
    color: #223243;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: 16px;
  }
  .footer .footer-container a p {
    padding: 5px;
    margin: 0px;
  }
  .footer .footer-container a .footer-icon {
    margin-right: 5px;
    margin-top: -3px;
  }
  .footer .footer-container a:visited {
    color: #223243;
  }
  .footer .footer-container a:hover {
    -webkit-transition: 350ms;
    transition: 350ms;
    background-color: #223243;
    color: #f8ffdb;
  }
  .footer .naw {
    margin-top: 0px;
    width: 100%;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .naw .footer-icon {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 4px;
    color: #f8ffdb;
  }
}
header {
  grid-area: h;
}
header a:link {
  text-decoration: none;
}
header .header-container {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 40px;
  background-color: rgba(34, 50, 67, 0.295);
}
header .header-container .logo-students {
  cursor: pointer;
  color: #f8ffdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header-container .logo-students .angle {
  margin-top: 5px;
  animation: animationFrames linear 3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 0%;
  -webkit-animation: animationFrames linear 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 0%;
  -moz-animation: animationFrames linear 3s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 0%;
  -o-animation: animationFrames linear 3s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 0%;
  -ms-animation: animationFrames linear 3s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 0%;
}
header .header-container .logo-students .logo-name {
  color: #223243;
}

@media (min-width: 1028px) {
  .header-container {
    padding-left: 250px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .logo-students span {
    font-size: 60px;
  }

  .angle,
.logo-name {
    font-size: 60px;
  }
}
@keyframes animationFrames {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
nav {
  grid-area: n;
  background-color: rgba(34, 50, 67, 0.295);
  width: 100%;
}
nav .nav-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}
nav .nav-container .students-overview-average {
  width: 95%;
  margin: auto;
}
nav #dropdown-basic-button {
  width: 100%;
  margin-bottom: 5px;
  background-color: rgba(34, 50, 67, 0.672);
  color: #f8ffdb;
  border: 1px solid #223243;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
nav .nav-item {
  width: 100%;
}
nav .dropdown-menu.show {
  max-height: 350px;
  overflow-y: scroll;
}

@media (min-width: 1028px) {
  .nav-container-desktop {
    padding: 20px;
    height: 100%;
  }
  .nav-container-desktop .nav-item {
    color: #223243;
  }
  .nav-container-desktop .nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-container-desktop .nav-group {
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
  }
  .nav-container-desktop .nav-group .nav-assignments {
    margin-right: 10px;
    overflow-y: scroll;
    max-height: 400px;
  }
  .nav-container-desktop .nav-group .icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-container-desktop .nav-group .icon-wrapper .iconChart {
    font-size: 30px;
    margin-right: 10px;
  }
  .nav-container-desktop .nav-group h3 {
    text-decoration: underline;
  }
  .nav-container-desktop .nav-group ul {
    list-style: none;
  }
  .nav-container-desktop .nav-group ul li {
    padding-left: 40px;
    cursor: pointer;
  }
  .nav-container-desktop .nav-group ul li:hover {
    width: 100%;
    background-color: #223243;
    color: #f8ffdb;
    border-radius: 3px;
  }
  .nav-container-desktop .nav-group ul li:hover > a {
    color: #f8ffdb;
    text-decoration: none;
  }
  .nav-container-desktop .nav-group .is-active {
    color: #f8ffdb;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 20px;
    padding: -15px;
  }
}
.sort-option {
  width: 100%;
  margin: 30px 0;
  border-right: 1px solid rgba(34, 50, 67, 0.44);
  border-left: 1px solid rgba(34, 50, 67, 0.44);
  border-bottom: 1px solid rgba(34, 50, 67, 0.44);
  border-radius: 3px;
}
.sort-option .banner-sort {
  border-radius: 3px 3px 0 0;
  background-color: rgba(34, 50, 67, 0.372);
  color: #223243;
  padding: 3px;
}
.sort-option .sort-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: auto;
}
.sort-option .sort-form label {
  padding: 5px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.sort-option .sort-form input {
  margin: 5px;
}

.student {
  grid-area: m;
  width: 100%;
}
.student .student-container {
  width: 95%;
  margin: auto;
}
.student .student-container .student-header {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  padding: 40px;
}
.student .student-container .student-header span {
  color: #f8ffdb;
}
.student .student-container .filter-ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 20px;
}
.student .student-container .filter-ul li {
  color: #223243;
}
.student .student-container .filter-ul li label {
  cursor: pointer;
}
.student .banner {
  border-radius: 3px 3px 0 0;
  background-color: rgba(34, 50, 67, 0.372);
  color: #223243;
  padding: 5px;
  margin: 0;
}
.student .banner span {
  color: #f8ffdb;
}
.student .banner-lines {
  border-right: 1px solid rgba(34, 50, 67, 0.44);
  border-left: 1px solid rgba(34, 50, 67, 0.44);
  border-bottom: 1px solid rgba(34, 50, 67, 0.44);
  border-radius: 3px;
  font-size: 18px;
}
.student .banner-lines .switch-inv label {
  cursor: pointer;
}
.student .filter-switch {
  padding: 5px;
  font-size: 18px;
}

@media (min-width: 1028px) {
  .student {
    overflow-y: scroll;
  }

  .student-container {
    max-width: 1300px;
    margin: auto;
  }

  .student .chart {
    margin-top: -20px;
    max-width: 1500px;
  }

  .student-header span {
    font-size: 30px;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  font-family: "Yanone Kaffeesatz", sans-serif !important;
  background: #bae21a;
  background: -webkit-gradient(linear, left top, right top, from(#f8ffdb), to(#0a9ce2));
  background: linear-gradient(90deg, #f8ffdb 0%, #0a9ce2 100%);
  color: #223243;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 15px;
  -webkit-box-shadow: inset 7px 7px 12px #e8e8e8;
          box-shadow: inset 7px 7px 12px #e8e8e8;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: inset 7px 10px 12px #f0f0f0;
          box-shadow: inset 7px 10px 12px #f0f0f0;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "h h h h" "n n n n" "m m m m" "f f f f";
}

@media (min-width: 1028px) {
  .App {
    width: 100%;
    display: grid;
    grid-template-columns: 250px repeat(3, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "h h h h " "n m m m " "f m m m ";
  }
}
/*# sourceMappingURL=globals.css.map */