::-webkit-scrollbar {
	width: 3px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(13deg, #737b7e 14%, #bfe7dc 65%);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
}
::-webkit-scrollbar-track {
	background: #ffffff;
	border-radius: 10px;
	box-shadow: inset 7px 10px 12px #f0f0f0;
}

nav {
	grid-area: n;
	background-color: rgba(34, 50, 67, 0.295);
}
ul {
	list-style: none;
}
li {
	margin-left: -20px;
}

.assignments ul {
	margin-right: 5px;
	overflow-y: scroll;
	max-height: 600px;
}
